<?xml version="1.0"?>
<robot name="itls_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!--Gazebo Colors Editing-->
  <gazebo reference="robot_center">
    <material>Gazebo/Orange</material>
  </gazebo>
  <gazebo reference="frontwhl_l_link">
    <material>Gazebo/Black</material>
  </gazebo>
  <gazebo reference="frontwhl_r_link">
    <material>Gazebo/Black</material>
  </gazebo>
  <gazebo reference="rearwhl_l_link">
    <material>Gazebo/Black</material>
  </gazebo>
  <gazebo reference="rearwhl_r_link">
    <material>Gazebo/Black</material>
  </gazebo>
  <gazebo reference="lidar_front">
    <material>Gazebo/Black</material>
  </gazebo>

</robot>