<?xml version="1.0"?>
<robot name="itls_robot"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--Lidar Sensors Used for Gazebo-->
  <!-- Front LiDAR definition -->

  <joint name="base_link_T_lidar_front" type="fixed">
    <parent link="base_link"/>
    <child link="lidar_front"/>
    <origin xyz="1.36 0.835 0.023" rpy="3.14159 0 -0.610865"/>
  </joint>

  <link name="lidar_front">
    <visual>
      <geometry>
        <cylinder radius="0.05" length="0.05"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0 0 -0.05"/>
      <geometry>
        <cylinder radius="0.01" length="0.1"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.05" length="0.04"/>
      </geometry>
    </collision>
    <xacro:cylinder_inertia m="2.0" r="0.05" h="0.04"/>
  </link>

  <gazebo reference="lidar_front">
    <sensor name="scanner_front" type="gpu_lidar">
      <pose> 0 0 0 0 0 0 </pose>
      <topic>scan</topic>
      <gz_frame_id>lidar_front</gz_frame_id>
      <visualize>true</visualize>
      <update_rate>10</update_rate>
      <lidar>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.3</min>
          <max>12</max>
        </range>
      </lidar>
    </sensor>
  </gazebo>

</robot>